.card {
  width: 371px;
  height: 416px;
  position: relative;
  color: #707070;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }

  &__category {
    display: block;
    position: absolute;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    bottom: 130px;
    left: 50px;
  }

  &__category:hover {
    background-color: rgba(255, 255, 255, 0.864);
    cursor: pointer;
  }

  &__name {
    color: #fff;
    font-size: 40px;
    position: absolute;
    bottom: 55px;
    left: 50px;
  }

  &__active {
    border: 5px solid #4fe24a;
    border-radius: 10px;
    z-index: 10;
  }
}