$containerWidth: 1440+px;
$breakpoint1040: 1039.98px+px;
 
// .contain{
//     max-width: $containerWidth;
//     height: 400px;
//     background-color: rgb(77, 226, 94);

// @media (max-width:$breakpoint1040) {
//         background-color: rgb(226, 77, 77);
//     }

// }
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
}
.container{
    margin: 0 auto;
    
    @media (max-width:$breakpoint1040) {
                   
            }
}